{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
</head>

<body class="text-black font-serif leading-normal tracking-normal">

    <div id="navbar">{% include "navdaisy.html" %}</div>

<div>{% block content %}{% endblock content %}</div>

</body>
<script src = "{% static 'javascript/htmx.min.js' %}"></script>
</html>
