



<div class="drawer mt-5">
  <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->   
    <h1 class="ml-5 mt-5"> the world is blue</h1>

    

    <br>
     <label for="my-drawer-1" class="btn drawer-button ml-5">Open TOC</label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <!-- Sidebar content here -->
       <li><a href = "{%url 'physics:g12home'%}">Content Page</a></li>
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</div>

