
{% load static %}

     <label for="my-drawer-1" class="btn drawer-button ml-5">Open TOC</label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <!-- Sidebar content here -->
       <li><a href = "{%url 'physics:g12home'%}">Content Page</a></li>
      <li><a href = "#">Section 1.1: Introduction</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</div>